<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"></script>

        <title>Layout</title>
        <style>
            .nav-link:hover{
                background:rgba(0,0,0,0.4);
            }
            .sidenav {
                background:#252729;
                min-height: 100vh;
            }
            @media screen(max-width: 992px) {
                .sidenav {
                    background: #252729;
                    min-height: 100%;
                }
            }
        </style>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                {% include 'base-templates/dashboard-sidebar.html' %}
                <div class="col-lg-10 pl-0 pr-0" style="background: #EAEBEC;">
                    <nav class="navbar navbar-light border-bottom">
                        <span class="navbar-brand">
                          Forum
                        </span>
                        <span class="form-inline">
                            <a class="text-dark mr-3" href="{% url 'profile' %}"><i class="far fa-user-circle"></i></a>
                            <a class="text-dark mr-3" href="{% url 'notifications' %}"><i class="far fa-bell"></i></a>
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-info my-2 my-sm-0" type="submit">Search</button>
                            <form action="{% url 'logoutuser' %}" method="POST" class="ml-3">
                                {% csrf_token %}
                                <button class="btn btn-danger" type="submit">Logout</button>
                            </form>
                        </span>
                    </nav>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="m-3 p-3 border rounded latest-announcements" style="background:white;">
                                    <div class="h5">Announcements</div>
                                    <div class="p-2 border-top">
                                        <table class="table table-hover">
                                            <tbody>
                                                <tr>
                                                  <td class="border-top-0"><img src="https://www.writeups.org/wp-content/uploads/John-Rambo-Sylvester-Stallone-a.jpg" width="40px" alt="" style="border-radius: 90px;"></td>
                                                  <td class="border-top-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
                                                  <td class="border-top-0">Today 9:42 p.m.</td>
                                                </tr>
                                                <tr>
                                                  <td><img src="https://www.writeups.org/wp-content/uploads/John-Rambo-Sylvester-Stallone-a.jpg" width="40px" alt="" style="border-radius: 90px;"></td>
                                                  <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
                                                  <td>Today 9:42 p.m.</td>
                                                </tr>
                                                <tr>
                                                  <td><img src="https://www.writeups.org/wp-content/uploads/John-Rambo-Sylvester-Stallone-a.jpg" width="40px" alt="" style="border-radius: 90px;"></td>
                                                  <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
                                                  <td>Today 9:42 p.m.</td>
                                                </tr>
                                            </tbody>
                                          </table>
                                    </div>
                                </div> 
                            </div>
                            <div class="col-lg-4">
                                <div class="m-3 p-3 border rounded quick-links" style="background:white;">
                                    <div class="h5">Quick Actions</div>
                                    <div class="p-2 border-top"><i class="fas fa-cogs"></i> Create Class</div>
                                    <div class="p-2 border-top"><i class="fas fa-cogs"></i> Upload Student Records</div class="border-bottom">
                                    <div class="p-2 border-top"><i class="fas fa-globe-americas"></i> Send Global Announcement</div class="border-bottom">
                                    <div class="p-2 border-top"><i class="fas fa-chart-line"></i> Reports</div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                    
                </div>
            </div>
        </div>
    </body>
</html>