<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"></script>

        <title>Layout</title>
        <style>
            .nav-link:hover{
                background:rgba(0,0,0,0.4);
            }
            .sidenav {
                background:#252729;
                min-height: 100vh;
            }
            @media screen(max-width: 992px) {
                .sidenav {
                    background: #252729;
                    min-height: 100%;
                }
            }
        </style>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
              {% include 'base-templates/dashboard-sidebar.html' %}
                <div class="col-lg-10 pl-0 pr-0" style="background: #EAEBEC;">
                  {% include 'base-templates/top-navbar.html' %}
                  <div class="container-fluid">
                      <div class="row">
                          <div class="col-lg-12">
                            <div class="m-3 p-3 border rounded" style="background:white;">
                                Course Setup > Course Information > Create Lessons > Publish
                            </div>
                            <div class="m-3 display-4">Course Setup</div>
                            <div class="m-3 p-3 border rounded" style="background:white;">
                              <form>
                                <div class="form-group">
                                  <label for="coursename" class="h5">Course Name</label>
                                  <input type="text" class="form-control" id="coursename" placeholder="Enter Name...">
                                </div>
                                <!-- <div class="form-group">
                                  <label for="exampleFormControlSelect1" class="h5">Course Subject</label>
                                  <select class="form-control" id="exampleFormControlSelect1">
                                    <option>English</option>
                                    <option>Math</option>
                                    <option>Science</option>
                                    <option>Social studies</option>
                                    <option>Other</option>
                                  </select>
                                </div> -->
                                <div class="form-group">
                                  <label for="exampleFormControlTextarea1" class="h5">Course Description</label>
                                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                                </div>
                                <div class="form-group">
                                  <label for="exampleFormControlFile1" class="h5">Course Image</label>
                                  <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                </div>
                                <div>
                                  <button type="submit" class="btn btn-info">Save and Continue</button> 
                                </div>
                              </form>
                            </div>
                            
                            <div class="m-3 display-4">Course Information</div>
                            <div class="m-3 p-3 border rounded" style="background:white;">
                              <form>
                                <div class="form-group">
                                  <label for="coursename" class="h5">Course Name</label>
                                  <input type="text" class="form-control" id="coursename" placeholder="Enter Name...">
                                </div>
                                <!-- <div class="form-group">
                                  <label for="exampleFormControlSelect1" class="h5">Course Subject</label>
                                  <select class="form-control" id="exampleFormControlSelect1">
                                    <option>English</option>
                                    <option>Math</option>
                                    <option>Science</option>
                                    <option>Social studies</option>
                                    <option>Other</option>
                                  </select>
                                </div> -->
                                <div class="form-group">
                                  <label for="exampleFormControlTextarea1" class="h5">Course Description</label>
                                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                                </div>
                                <div class="form-group">
                                  <label for="exampleFormControlFile1" class="h5">Course Image</label>
                                  <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                </div>
                                <div>
                                  <button type="submit" class="btn btn-info">Save and Continue</button> 
                                </div>
                              </form>
                            </div>
                            
                            <div class="m-3 display-4">Create Lessons</div>
                            <div class="m-3 p-3 border rounded" style="background:white;">
                              <form>
                                <div class="form-group">
                                  <label for="coursename" class="h5">Course Name</label>
                                  <input type="text" class="form-control" id="coursename" placeholder="Enter Name...">
                                </div>
                                <!-- <div class="form-group">
                                  <label for="exampleFormControlSelect1" class="h5">Course Subject</label>
                                  <select class="form-control" id="exampleFormControlSelect1">
                                    <option>English</option>
                                    <option>Math</option>
                                    <option>Science</option>
                                    <option>Social studies</option>
                                    <option>Other</option>
                                  </select>
                                </div> -->
                                <div class="form-group">
                                  <label for="exampleFormControlTextarea1" class="h5">Course Description</label>
                                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                                </div>
                                <div class="form-group">
                                  <label for="exampleFormControlFile1" class="h5">Course Image</label>
                                  <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                </div>
                                <div>
                                  <button type="submit" class="btn btn-info">Save and Continue</button> 
                                </div>
                              </form>
                            </div>
                          </div>
                      </div>
                        <!-- <div class="row">
                            <div class="col-lg-12">
                                <table class="table bg-white mt-3 border rounded table-responsive-lg">
                                  <thead>
                                    <tr>
                                      <th scope="col">Class Name</th>
                                      <th scope="col">Class Photo</th>
                                      <th scope="col">Teacher</th>
                                      <th scope="col">Syllabus</th>
                                      <th scope="col">Number of Lessons</th>
                                      <th scope="col" class="text-center">Action</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                  {% block getClassInfo %}
                                    {% for row in listclasses %}
                                    <tr>
                                      <td  class="align-middle">{{ row.class_name }}</td>
                                      <td  class="align-middle"><img src="{{ MEDIA_URL }}{{ request.user.profile.Profile_Image }}" alt="{{ row.class_name }} Photo"></td>
                                      <td  class="align-middle">{{ row.user.profile.first_name }} {{ row.user.profile.last_name }}</td>
                                      {% if row.classlessons.lesson_count %}
                                      <td  class="align-middle"><a href="" class="btn btn-info">View Course</button></td>
                                      <td  class="align-middle">45</td>
                                      {% else %}
                                      <td  class="align-middle">N/A</td>
                                      <td  class="align-middle">N/A</td>
                                      {% endif %}
                                      <td  class="text-center align-middle">
                                          <i class="fas fa-edit m-2"></i>
                                          <i class="fas fa-trash m-2"></i>
                                      </td>
                                    </tr>
                                    {% endfor %}
                                  {% endblock %}
                                  </tbody>
                                </table>
                            </div>
                        </div> -->

                        <!-- Add New Class -->
                        <div class="modal fade" id="newRecord" tabindex="-1" role="dialog" aria-labelledby="New Record" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add New Record</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                {% block content %}
                                <form method="post" enctype="multipart/form-data">
                                  {% csrf_token %}
                                  {% for field in newclassform %}
                                  <div class="form-group">
                                    <label>{{ field.label }}</label>
                                    {{ field }}
                                    {% if field.help_text %}
                                      <small style="color: grey">{{ field.help_text }}</small>
                                    {% endif %}
                                    {% for error in field.errors %}
                                      <p style="color: red">{{ error }}</p>
                                    {% endfor %}
                                  </div>
                                  {% endfor %}
                                  <button type="submit" class="btn btn-primary">Create</button>
                                </form>
                                {% endblock %}
                                <!-- <form method="post" enctype="multipart/form-data">
                                  <div class="form-group">
                                    <label for="exampleFormControlInput1">Class Name</label>
                                    <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="English 101">
                                  </div>
                                  <div class="form-group">
                                    <label for="classimage">Class Image</label>
                                    <input type="file" class="form-control-file" id="classimage">
                                  </div>
                                </form> -->
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                              </div>
                            </div>
                          </div>
                        </div>

                        <!-- Request Help Form -->
                        <div class="modal fade" id="requestHelp" tabindex="-1" role="dialog" aria-labelledby="Request Help" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Submit Help Request</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <form>
                                  <div class="form-group">
                                    <label for="exampleFormControlSelect1">Request Type</label>
                                    <select class="form-control" id="exampleFormControlSelect1">
                                      <option>How to Create Class</option>
                                      <option>Other (provide information below)</option>
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Additional Information</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                  </div>
                                </form>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Submit</button>
                              </div>
                            </div>
                          </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </body>
    </html>