<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"></script>

        <title>Student Dashboard Layout</title>
        <style>
            .strikethrough {
                text-decoration: line-through;
            }
            .nav-link:hover{
                background:rgba(0,0,0,0.4);
            }
            .sidenav {
                background:#252729;
                min-height: 100vh;
            }
            @media screen(max-width: 992px) {
                .sidenav {
                    background: #252729;
                    min-height: 100%;
                }
            }
        </style>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                {% include 'base-templates/dashboard-sidebar.html' %}
                <div class="col-lg-10 pl-0 pr-0" style="background: #EAEBEC;">
                    {% include 'base-templates/top-navbar.html' %}
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="alert alert-warning border m-3" role="alert">
                                    <div class="d-flex">
                                        <span class="mr-3">Field Trip Money Due</span>
                                        <span class="mr-auto"><a href="">Go to Payments</a></span>
                                        <span><i class="fas fa-times text-dark"></i></span>
                                    </div>
                                </div>
                                <div class="alert alert-warning border m-3" role="alert">
                                    <div class="d-flex">
                                        <span class="mr-auto">System going offline in 3 hours for maintenance. Downtime is approximately 2 hours. We apologize for the inconvenience.</span>
                                        <span><i class="fas fa-times text-dark"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                                <!-- Announcements -->
                                <div class="m-3 border rounded announcements-header" style="background:white;">
                                    <div class="d-flex bd-highlight border-bottom">
                                        <div class="bd-highlight h5 m-0 p-3">
                                            Announcements
                                        </div>
                                        <div class="ml-auto bd-highlight pt-3 pb-3">
                                            <span class="border-left border-primary m-2" style="border-left-width: 3px !important;"></span>Principle
                                        </div>
                                        <div class="bd-highlight pt-3 pb-3">
                                            <span class="border-left border-warning m-2" style="border-left-width: 3px !important;"></span>Teacher
                                        </div>
                                        <div class="bd-highlight pt-3 pb-3 pr-3">
                                            <span class="border-left border-dark m-2" style="border-left-width: 3px !important;"></span>System
                                        </div>
                                    </div>
                                    <div class="announcements-content">
                                        <!-- begin announcement loop -->
                                        <div class="d-flex bd-highlight border-bottom">
                                            <div class="p-2 bd-highlight border-left border-warning m-2" style="border-left-width: 3px !important;">
                                                <div class="text-center">
                                                    <img src="https://www.writeups.org/wp-content/uploads/John-Rambo-Sylvester-Stallone-a.jpg" width="40px" alt="" style="border-radius: 90px;">
                                                </div>
                                            </div>
                                            <div class="p-2 bd-highlight">
                                                <div>
                                                    <strong>Art 101: Assignment Posted</strong>
                                                </div>
                                                <div>
                                                    Art Assignment has been posted. Click this notification to access the assignment.
                                                </div>
                                            </div>
                                            <div class="ml-auto p-2 bd-highlight">
                                                <div class="text-center text-muted">
                                                    <small>9:45PM</small>
                                                </div>
                                                <div class="text-center">
                                                    <i class="fas fa-link"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end announcement loop -->
                                        <!-- begin announcement loop -->
                                        <div class="d-flex bd-highlight border-bottom">
                                            <div class="p-2 bd-highlight border-left border-dark m-2" style="border-left-width: 3px !important;">
                                                <div class="text-center">
                                                    <i class="fas fa-cog fa-w-16 fa-2x"></i>
                                                </div>
                                            </div>
                                            <div class="p-2 bd-highlight">
                                                <div>
                                                    <strong>Upcoming Holiday: Memorial Day</strong>
                                                </div>
                                                <div>
                                                    Please note school will be closed on this day.
                                                </div>
                                            </div>
                                            <div class="ml-auto p-2 bd-highlight">
                                                <div class="text-center text-muted">
                                                    <small>9:45PM</small>
                                                </div>
                                                <div class="text-center">
                                                    <i class="fas fa-link"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end announcement loop -->
                                        <!-- begin announcement loop -->
                                        <div class="d-flex bd-highlight">
                                            <div class="p-2 bd-highlight border-left border-primary m-2" style="border-left-width: 3px !important;">
                                                <div class="text-center">
                                                    <i class="fas fa-user-tie fa-w-16 fa-2x"></i>
                                                </div>
                                            </div>
                                            <div class="p-2 bd-highlight">
                                                <div>
                                                    <strong>School Announcement: Class photos coming up</strong>
                                                </div>
                                                <div>
                                                    Please remember that class photos will happen on 5/1/2020
                                                </div>
                                            </div>
                                            <div class="ml-auto p-2 bd-highlight">
                                                <div class="text-center text-muted">
                                                    <small>9:45PM</small>
                                                </div>
                                                <div class="text-center">
                                                    <i class="far fa-calendar-alt"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end announcement loop -->
                                    </div>
                                </div>
                                <!-- Course Message Updates -->
                                <div class="m-3 border rounded announcements-header" style="background:white;">
                                    <div class="d-flex bd-highlight border-bottom">
                                        <div class="bd-highlight h5 m-0 p-3">
                                            Course Discussions
                                        </div>
                                        <div class="ml-auto bd-highlight pt-3 pb-3">
                                            <span class="border-left border-warning m-2" style="border-left-width: 3px !important;"></span>Teacher
                                        </div>
                                        <div class="bd-highlight pt-3 pb-3 pr-3">
                                            <span class="border-left border-info m-2" style="border-left-width: 3px !important;"></span>Student
                                        </div>
                                    </div>
                                    <div class="announcements-content">
                                        <div class="today m-3">
                                            <div><strong>Today</strong></div>
                                            <!-- begin announcement loop -->
                                            <div class="d-flex bd-highlight border-bottom">
                                                <div class="p-2 bd-highlight border-left border-warning m-2" style="border-left-width: 3px !important;">
                                                    <div class="text-center">
                                                        <img src="https://www.writeups.org/wp-content/uploads/John-Rambo-Sylvester-Stallone-a.jpg" width="40px" alt="" style="border-radius: 90px;">
                                                    </div>
                                                </div>
                                                <div class="p-2 bd-highlight mr-auto w-100">
                                                    <div>
                                                        <span class="text-info">Intro to Art:</span> <strong>Drawing Assignment Info</strong>
                                                    </div>
                                                    <div>
                                                        Please let me know if you have any questions for this assignment
                                                    </div>
                                                    <div class="input-group input-group-sm">
                                                        <input type="text" class="form-control" placeholder="Type a reply..." aria-label="Type a reply" aria-describedby="button-addon2">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Reply</button>
                                                        </div>
                                                    </div>
                                                    <div><i class="fas fa-reply"></i> <span class="text-info">20 Replies</span></div>
                                                </div>
                                                <div class="p-2 bd-highlight">
                                                    <div class="text-center text-muted">
                                                        <small>9:45PM</small>
                                                    </div>
                                                    <div class="text-center">
                                                        <div><i class="fas fa-link"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end announcement loop -->
                                            <!-- begin announcement loop -->
                                            <div class="d-flex bd-highlight border-bottom">
                                                <div class="p-2 bd-highlight border-left border-info m-2" style="border-left-width: 3px !important;">
                                                    <div class="text-center">
                                                        <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/e8/e879127befd18f6dcbd2f336234b62b393348c74_full.jpg" width="40px" alt="" style="border-radius: 90px;">
                                                    </div>
                                                </div>
                                                <div class="p-2 bd-highlight mr-auto w-100">
                                                    <div>
                                                        <span class="text-info">Intro to English:</span> <strong>English Test Study Guide</strong>
                                                    </div>
                                                    <div>
                                                        Hey do you all have a study guide you are using for this test?
                                                    </div>
                                                    <div class="input-group input-group-sm">
                                                        <input type="text" class="form-control" placeholder="Type a reply..." aria-label="Type a reply" aria-describedby="button-addon2">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Reply</button>
                                                        </div>
                                                    </div>
                                                    <div><i class="fas fa-reply"></i> <span class="text-info">5 Replies</span></div>
                                                </div>
                                                <div class="p-2 bd-highlight">
                                                    <div class="text-center text-muted">
                                                        <small>9:45PM</small>
                                                    </div>
                                                    <div class="text-center">
                                                        <i class="fas fa-link"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end announcement loop -->
                                        </div>
                                        <div class="today m-3">
                                            <div><strong>Yesterday</strong></div>
                                            <!-- begin announcement loop -->
                                            <div class="d-flex bd-highlight border-bottom">
                                                <div class="p-2 bd-highlight border-left border-warning m-2" style="border-left-width: 3px !important;">
                                                    <div class="text-center">
                                                        <img src="https://www.writeups.org/wp-content/uploads/John-Rambo-Sylvester-Stallone-a.jpg" width="40px" alt="" style="border-radius: 90px;">
                                                    </div>
                                                </div>
                                                <div class="p-2 bd-highlight mr-auto w-100">
                                                    <div>
                                                        <span class="text-info">Intro to Psychology:</span> <strong>Interesting Article On Behavior</strong>
                                                    </div>
                                                    <div>
                                                        Check out this link, and let me know what you think about the article!
                                                    </div>
                                                    <div class="input-group input-group-sm">
                                                        <input type="text" class="form-control" placeholder="Type a reply..." aria-label="Type a reply" aria-describedby="button-addon2">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Reply</button>
                                                        </div>
                                                    </div>
                                                    <div><i class="fas fa-reply"></i> <span class="text-info">0 Replies</span></div>
                                                </div>
                                                <div class="p-2 bd-highlight">
                                                    <div class="text-center text-muted">
                                                        <small>9:45PM</small>
                                                    </div>
                                                    <div class="text-center">
                                                        <i class="fas fa-link"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end announcement loop -->
                                            <!-- begin announcement loop -->
                                            <div class="d-flex bd-highlight border-bottom">
                                                <div class="p-2 bd-highlight border-left border-info m-2" style="border-left-width: 3px !important;">
                                                    <div class="text-center">
                                                        <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/e8/e879127befd18f6dcbd2f336234b62b393348c74_full.jpg" width="40px" alt="" style="border-radius: 90px;">
                                                    </div>
                                                </div>
                                                <div class="p-2 bd-highlight mr-auto w-100">
                                                    <div>
                                                        <span class="text-info">Intro to Spanish:</span> <strong>Spanish Tutoring</strong>
                                                    </div>
                                                    <div>
                                                        Hey everyone I am available to assist with tutoring on weekends. Let me know if you would like to meet.
                                                    </div>
                                                    <div class="input-group input-group-sm w-100">
                                                        <input type="text" class="form-control" placeholder="Type a reply..." aria-label="Type a reply" aria-describedby="button-addon2">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Reply</button>
                                                        </div>
                                                    </div>
                                                    <div><i class="fas fa-reply"></i> <span class="text-info">2 Replies</span></div>
                                                </div>
                                                <div class="p-2 bd-highlight">
                                                    <div class="text-center text-muted">
                                                        <small>9:45PM</small>
                                                    </div>
                                                    <div class="text-center">
                                                        <i class="fas fa-link"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end announcement loop -->
                                        </div>
                                    </div>
                                </div>
                                <!-- Direct Messages -->
                                <div class="m-3 border rounded announcements-header" style="background:white;">
                                    <div class="d-flex bd-highlight border-bottom">
                                        <div class="bd-highlight h5 m-0 p-3">
                                            Direct Messages
                                        </div>
                                        <div class="ml-auto bd-highlight pt-3 pb-3">
                                            <span class="border-left border-warning m-2" style="border-left-width: 3px !important;"></span>Teacher
                                        </div>
                                        <div class="bd-highlight pt-3 pb-3 pr-3">
                                            <span class="border-left border-info m-2" style="border-left-width: 3px !important;"></span>Student
                                        </div>
                                    </div>
                                    <div class="announcements-content">
                                        <!-- begin message loop -->
                                        <div class="d-flex bd-highlight border-bottom">
                                            <div class="p-2 bd-highlight border-left border-warning m-2" style="border-left-width: 3px !important;">
                                                <div class="text-center">
                                                    <img src="https://www.writeups.org/wp-content/uploads/John-Rambo-Sylvester-Stallone-a.jpg" width="40px" alt="" style="border-radius: 90px;">
                                                </div>
                                            </div>
                                            <div class="p-2 bd-highlight">
                                                <div><strong>Rambo Says:</strong></div>
                                                <div>
                                                    Hey did you forget to turn in your Math assignment? Let me know if you are having any issues.
                                                </div>
                                            </div>
                                            <div class="ml-auto p-2 bd-highlight">
                                                <div class="text-center text-muted">
                                                    <small>9:45PM</small>
                                                </div>
                                                <div class="text-center">
                                                    <i class="far fa-envelope"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end message loop -->
                                        <!-- begin message loop -->
                                        <div class="d-flex bd-highlight border-bottom">
                                            <div class="p-2 bd-highlight border-left border-info m-2" style="border-left-width: 3px !important;">
                                                <div class="text-center">
                                                    <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/e8/e879127befd18f6dcbd2f336234b62b393348c74_full.jpg" width="40px" alt="" style="border-radius: 90px;">
                                                </div>
                                            </div>
                                            <div class="p-2 bd-highlight">
                                                <div><strong>John Says:</strong></div>
                                                <div>
                                                    Yo do you wanna study together for the English Test?
                                                </div>
                                            </div>
                                            <div class="ml-auto p-2 bd-highlight">
                                                <div class="text-center text-muted">
                                                    <small>9:45PM</small>
                                                </div>
                                                <div class="text-center">
                                                    <i class="far fa-envelope"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end message loop -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <!-- <div class="m-3 p-3 border rounded quick-links" style="background:white;">
                                    <div class="h5">Quick Actions</div>
                                    <div class="p-2 border-top"><i class="far fa-envelope"></i> Message Teacher</div>
                                    <div class="p-2 border-top"><i class="fas fa-dollar-sign"></i> Manage Payments</div>
                                    <div class="p-2 border-top"><i class="fas fa-chalkboard-teacher"></i> Continue Lesson</div>
                                </div> -->
                                <div class="m-3 p-3 border rounded students alert-danger">
                                    <div class="h5">Late Assignments</div>
                                    <div class="p-2 border-top text-white bg-danger">
                                        <div class="d-flex bd-highlight">
                                            <div class="mr-auto p-2 bd-highlight"><i class="fas fa-times text-white"></i> Art Project</div>
                                            <div class="p-2 bd-highlight">4/14/2020</div>
                                            <div class="p-2 bd-highlight"><i class="fas fa-link"></i></div>
                                        </div>
                                    </div>
                                    <div class="p-2 border-top text-white bg-danger">
                                        <div class="d-flex bd-highlight">
                                            <div class="mr-auto p-2 bd-highlight"><i class="fas fa-times text-white"></i> Math Assignment</div>
                                            <div class="p-2 bd-highlight">Yesterday</div>
                                            <div class="p-2 bd-highlight"><i class="fas fa-link"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-3 p-3 border rounded upcoming-assignments bg-info text-white">
                                    <div class="h5"><i class="far fa-calendar-check"></i> This Week</div>
                                    <div class="h3 m-3 d-flex justify-content-between">
                                        <span><i class="fas fa-chevron-left"></i></span>
                                        <span>4/19 - 4/25</span>
                                        <span><i class="fas fa-chevron-right"></i></span>
                                    </div>
                                    <div class="bg-light text-dark rounded">
                                        <div class="p-2 border-top text-danger">
                                            <div class="d-flex bd-highlight">
                                              <div class="mr-auto p-2 bd-highlight"><span class="badge badge-pill badge-danger">&nbsp;</span> Math Assignment</div>
                                              <div class="p-2 bd-highlight">Yesterday</div>
                                              <div class="p-2 bd-highlight"><i class="fas fa-link"></i></div>
                                            </div>
                                        </div>
                                        <div class="p-2 border-top strikethrough">
                                            <div class="d-flex bd-highlight">
                                              <div class="mr-auto p-2 bd-highlight"><span class="badge badge-pill badge-dark">&nbsp;</span> Physics Research Paper</div>
                                              <div class="p-2 bd-highlight">Today</div>
                                              <div class="p-2 bd-highlight"><i class="fas fa-link"></i></div>
                                            </div>
                                        </div>
                                        <div class="p-2 border-top">
                                            <div class="d-flex bd-highlight">
                                              <div class="mr-auto p-2 bd-highlight"><span class="badge badge-pill badge-warning">&nbsp;</span> Programming Assignment</div>
                                              <div class="p-2 bd-highlight">Today</div>
                                              <div class="p-2 bd-highlight"><i class="fas fa-link"></i></div>
                                            </div>
                                        </div>
                                        <div class="p-2 border-top strikethrough">
                                            <div class="d-flex bd-highlight">
                                              <div class="mr-auto p-2 bd-highlight"><span class="badge badge-pill badge-dark">&nbsp;</span> English Essay</div>
                                              <div class="p-2 bd-highlight">Tomorrow</div>
                                              <div class="p-2 bd-highlight"><i class="fas fa-link"></i></div>
                                            </div>
                                        </div>
                                        <div class="p-2 border-top">
                                            <div class="d-flex bd-highlight">
                                                <div class="mr-auto p-2 bd-highlight">
                                                    <span class="badge badge-pill badge-success">&nbsp;</span> Test 1
                                                </div>
                                                <div class="p-2 bd-highlight">Friday</div>
                                                <div class="p-2 bd-highlight"><i class="fas fa-link"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-3 p-3 border rounded upcoming-assignments bg-white">
                                    <div class="h5">My Schedule</div>
                                    <div class="h5 m-3 d-flex justify-content-between">
                                        <span><i class="fas fa-chevron-left"></i></span>
                                        <span>Friday 4/24/2020</span>
                                        <span><i class="fas fa-chevron-right"></i></span>
                                    </div>
                                    <div class="p-2 border-top">
                                        <div class="d-flex bd-highlight">
                                            <div class="pt-2 pb-2 bd-highlight">9:00 - 10:00</div>
                                            <div class="ml-auto pt-2 pb-2 bd-highlight">Intro to Spanish</div>
                                        </div>
                                        <div class="d-flex bd-highlight">
                                            <div class="mr-auto">Mr. Smith</div>
                                            <div class=""><strong>Room: 200</strong> <i class="fas fa-map-marked-alt"></i></div>
                                        </div>
                                    </div>
                                    <div class="p-2 border-top">
                                        <div class="d-flex bd-highlight">
                                            <div class="pt-2 pb-2 bd-highlight">10:00 - 11:00</div>
                                            <div class="ml-auto pt-2 pb-2 bd-highlight">Intro to Art</div>
                                        </div>
                                        <div class="d-flex bd-highlight">
                                            <div class="mr-auto">Mr. Smith</div>
                                            <div class=""><strong>Room: 300</strong> <i class="fas fa-map-marked-alt"></i></div>
                                        </div>
                                    </div>
                                    <div class="p-2 border-top alert-success">
                                        <div class="d-flex bd-highlight">
                                            <div class="pt-2"><i class="far fa-clock"></i></div>
                                            <div class="pt-2 pb-2 bd-highlight">11:00 - 12:00</div>
                                            <div class="ml-auto pt-2 pb-2 bd-highlight">Intro to Psychology</div>
                                        </div>
                                        <div class="d-flex bd-highlight">
                                            <div class="mr-auto">Mr. Smith</div>
                                            <div class=""><strong>Room: 400</strong> <i class="fas fa-map-marked-alt"></i></div>
                                        </div>
                                    </div>
                                    <div class="p-2 border-top bg-dark text-white">
                                        <div class="d-flex bd-highlight">
                                            <div class="pt-2 pb-2 bd-highlight">12:00 - 1:00</div>
                                            <div class="ml-auto pt-2 pb-2 bd-highlight">Lunch</div>
                                        </div>
                                    </div>
                                    <div class="p-2 border-top">
                                        <div class="d-flex bd-highlight">
                                            <div class="pt-2 pb-2 bd-highlight">1:00 - 2:00</div>
                                            <div class="ml-auto pt-2 pb-2 bd-highlight">Intro to History</div>
                                        </div>
                                        <div class="d-flex bd-highlight">
                                            <div class="mr-auto">Mr. Smith</div>
                                            <div class=""><strong>Room: 500</strong> <i class="fas fa-map-marked-alt"></i></div>
                                        </div>
                                    </div>
                                    <div class="p-2 border-top">
                                        <div class="d-flex bd-highlight">
                                            <div class="pt-2 pb-2 bd-highlight">2:00 - 3:00</div>
                                            <div class="ml-auto pt-2 pb-2 bd-highlight">Intro to English</div>
                                        </div>
                                        <div class="d-flex bd-highlight">
                                            <div class="mr-auto">Mr. Smith</div>
                                            <div class=""><strong>Room: 600</strong> <i class="fas fa-map-marked-alt"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-3 p-3 border rounded grades" style="background:white;">
                                    <div class="h5">My Grades</div>
                                    <div class="grade-average"><span class="display-4">2.12</span> avg. gpa</div>
                                    <div class="p-2 border-top">
                                        <div class="d-flex bd-highlight">
                                            <div class="p-2 bd-highlight bg-success text-white rounded-lg">
                                                100%
                                            </div>
                                            <div class="mr-auto p-2 bd-highlight">Intro to English</div>
                                            <div class="p-2 bd-highlight"><i class="fas fa-chalkboard-teacher"></i></div>
                                        </div>
                                        <div class="m-2">
                                            <a class="text-dark" data-toggle="collapse" href="#class1" role="button" aria-expanded="false" aria-controls="collapseExample">Pending Grades <span class="badge badge-pill badge-info">1</span> <i class="fas fa-chevron-down"></i></a>
                                            <div class="collapse ml-3" id="class1">
                                                English Essay
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-2 border-top">
                                        <div class="d-flex bd-highlight">
                                            <div class="p-2 bd-highlight bg-success text-white rounded-lg">
                                                85%
                                            </div>
                                            <div class="mr-auto p-2 bd-highlight">Intro to Spanish</div>
                                            <div class="p-2 bd-highlight"><i class="fas fa-chalkboard-teacher"></i></div>
                                        </div>
                                        <div class="m-2">
                                            Pending Grades <span class="badge badge-pill badge-secondary">0</span>
                                        </div>
                                    </div>
                                    <div class="p-2 border-top">
                                        <div class="d-flex bd-highlight">
                                            <div class="p-2 bd-highlight bg-warning text-white rounded-lg">
                                                75%
                                            </div>
                                            <div class="mr-auto p-2 bd-highlight">Intro to Art</div>
                                            <div class="p-2 bd-highlight"><i class="fas fa-chalkboard-teacher"></i></div>
                                        </div>
                                        <div class="m-2">
                                            <a class="text-dark" data-toggle="collapse" href="#class3" role="button" aria-expanded="false" aria-controls="collapseExample">Pending Grades <span class="badge badge-pill badge-info">1</span>
                                             <i class="fas fa-chevron-down"></i></a>
                                            <div class="collapse ml-3" id="class3">
                                                Art Project
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-2 border-top">
                                        <div class="d-flex bd-highlight">
                                            <div class="p-2 bd-highlight bg-warning text-white rounded-lg">
                                                65%
                                            </div>
                                            <div class="mr-auto p-2 bd-highlight">Intro to Psychology</div>
                                            <div class="p-2 bd-highlight"><i class="fas fa-chalkboard-teacher"></i></div>
                                        </div>
                                        <div class="m-2">
                                            <a class="text-dark" data-toggle="collapse" href="#class4" role="button" aria-expanded="false" aria-controls="collapseExample">Pending Grades <span class="badge badge-pill badge-info">2</span>
                                             <i class="fas fa-chevron-down"></i></a>
                                            <div class="collapse ml-3" id="class4">
                                                <div>Behavior Experiment Paper</div>
                                                <div>Test #3</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-2 border-top">
                                        <div class="d-flex bd-highlight">
                                            <div class="p-2 bd-highlight bg-danger text-white rounded-lg">
                                                55%
                                            </div>
                                            <div class="mr-auto p-2 bd-highlight">Intro to History</div>
                                            <div class="p-2 bd-highlight"><i class="fas fa-chalkboard-teacher"></i></div>
                                        </div>
                                        <div class="m-2">
                                            <a class="text-dark" data-toggle="collapse" href="#class5" role="button" aria-expanded="false" aria-controls="collapseExample">Pending Grades <span class="badge badge-pill badge-info">5</span>
                                             <i class="fas fa-chevron-down"></i></a>
                                            <div class="collapse ml-3" id="class5">
                                                <div>Paper 1</div>
                                                <div>Paper 2</div>
                                                <div>Paper 3</div>
                                                <div>Test 1</div>
                                                <div>Test 2</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="m-3 p-3 border rounded students" style="background:white;">
                                    <div class="h5">My Teacher</div>
                                    <div class="p-2 border-top mb-2"><img src="https://www.writeups.org/wp-content/uploads/John-Rambo-Sylvester-Stallone-a.jpg" width="40px" alt="" style="border-radius: 90px;"> Rambo</div>

                                    <div class="h5">My Classmates</div>
                                    <div class="p-2 border-top"><img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/e8/e879127befd18f6dcbd2f336234b62b393348c74_full.jpg" width="40px" alt="" style="border-radius: 90px;"> John Wick</div>
                                    <div class="p-2 border-top"><img src="https://i.pinimg.com/474x/61/ab/df/61abdf4ea32577c24ea808c10f82613f.jpg" width="40px" alt="" style="border-radius: 90px;"> Tony Stark</div>
                                </div> -->
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </body>
</html>