<!doctype html>
<html lang="en">
    {% include 'base-templates/headtag.html' %}
    <body>
        <div class="container-fluid">
            <div class="row">
                {% include 'base-templates/dashboard-sidebar.html' %}
                <div class="col-lg-10 pl-0 pr-0" style="background: #EAEBEC;">
                    {% include 'base-templates/top-navbar.html' %}
                    <div class="container-fluid">
                        <div class="row">
                            <!-- course loop -->
                            <div class="col-lg-3 mt-3 mr-3">
                                <div class="card">
                                    <img src="https://images.pexels.com/photos/265076/pexels-photo-265076.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" width="100%">
                                    <div class="bg-info text-white p-3 h5">
                                        Intro To English
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Taught by:<br><strong>Matthew Kellison</strong> <i class="far fa-envelope"></i></p>
                                        <p class="card-text"><strong>Room: 600</strong> <i class="fas fa-map-marked-alt"></i></p>
                                        <span class="badge badge-pill badge-danger">3</span> <span class="text-danger">Late Assignments</span>
                                        <div class="ml-auto p-2 bd-highlight d-flex">
                                            <div class="">
                                                Progress:
                                                <br>
                                                <span class="h5">45%</span>
                                            </div>
                                            <div class="ml-auto">
                                                Current Grade:
                                                <br>
                                                <span class="h5">89%</span>
                                            </div>
                                        </div>
                                        <a href="#" class="mb-2 btn btn-dark w-100">View Syllabus</a>
                                        <a href="#" class="btn btn-primary w-100">Open Course</a>
                                    </div>
                                </div>
                            </div>
                            <!-- course loop end -->
                            <!-- course loop -->
                            <div class="col-lg-3 mt-3 mr-3">
                                <div class="card">
                                    <img src="https://images.pexels.com/photos/265076/pexels-photo-265076.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" width="100%">
                                    <div class="bg-info text-white p-3 h5">
                                        Intro To Spanish
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Taught by:<br><strong>Matthew Kellison</strong> <i class="far fa-envelope"></i></p>
                                        <p class="card-text"><strong>Room: 200</strong> <i class="fas fa-map-marked-alt"></i></p>
                                        <span class="badge badge-pill badge-danger">3</span> <span class="text-danger">Late Assignments</span>
                                        <div class="ml-auto p-2 bd-highlight d-flex">
                                            <div class="">
                                                Progress:
                                                <br>
                                                <span class="h5">45%</span>
                                            </div>
                                            <div class="ml-auto">
                                                Current Grade:
                                                <br>
                                                <span class="h5">89%</span>
                                            </div>
                                        </div>
                                        <a href="#" class="mb-2 btn btn-dark w-100">View Syllabus</a>
                                        <a href="#" class="btn btn-primary w-100">Open Course</a>
                                    </div>
                                </div>
                            </div>
                            <!-- course loop end -->
                            <!-- course loop -->
                            <div class="col-lg-3 mt-3 mr-3">
                                <div class="card">
                                    <img src="https://images.pexels.com/photos/265076/pexels-photo-265076.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" width="100%">
                                    <div class="bg-info text-white p-3 h5">
                                        Intro To Art
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Taught by:<br><strong>Matthew Kellison</strong> <i class="far fa-envelope"></i></p>
                                        <p class="card-text"><strong>Room: 300</strong> <i class="fas fa-map-marked-alt"></i></p>
                                        <span class="badge badge-pill badge-danger">3</span> <span class="text-danger">Late Assignments</span>
                                        <div class="ml-auto p-2 bd-highlight d-flex">
                                            <div class="">
                                                Progress:
                                                <br>
                                                <span class="h5">45%</span>
                                            </div>
                                            <div class="ml-auto">
                                                Current Grade:
                                                <br>
                                                <span class="h5">89%</span>
                                            </div>
                                        </div>
                                        <a href="#" class="mb-2 btn btn-dark w-100">View Syllabus</a>
                                        <a href="#" class="btn btn-primary w-100">Open Course</a>
                                    </div>
                                </div>
                            </div>
                            <!-- course loop end -->
                            <!-- course loop -->
                            <div class="col-lg-3 mt-3 mr-3">
                                <div class="card">
                                    <img src="https://images.pexels.com/photos/265076/pexels-photo-265076.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" width="100%">
                                    <div class="bg-info text-white p-3 h5">
                                        Intro To Psychology
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Taught by:<br><strong>Matthew Kellison</strong> <i class="far fa-envelope"></i></p>
                                        <p class="card-text"><strong>Room: 400</strong> <i class="fas fa-map-marked-alt"></i></p>
                                        <span class="badge badge-pill badge-danger">3</span> <span class="text-danger">Late Assignments</span>
                                        <div class="ml-auto p-2 bd-highlight d-flex">
                                            <div class="">
                                                Progress:
                                                <br>
                                                <span class="h5">45%</span>
                                            </div>
                                            <div class="ml-auto">
                                                Current Grade:
                                                <br>
                                                <span class="h5">89%</span>
                                            </div>
                                        </div>
                                        <a href="#" class="mb-2 btn btn-dark w-100">View Syllabus</a>
                                        <a href="#" class="btn btn-primary w-100">Open Course</a>
                                    </div>
                                </div>
                            </div>
                            <!-- course loop end -->
                            <!-- course loop -->
                            <div class="col-lg-3 mt-3 mr-3">
                                <div class="card">
                                    <img src="https://images.pexels.com/photos/265076/pexels-photo-265076.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" width="100%">
                                    <div class="bg-info text-white p-3 h5">
                                        Intro To History
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Taught by:<br><strong>Matthew Kellison</strong> <i class="far fa-envelope"></i></p>
                                        <p class="card-text"><strong>Room: 500</strong> <i class="fas fa-map-marked-alt"></i></p>
                                        <span class="badge badge-pill badge-danger">3</span> <span class="text-danger">Late Assignments</span>
                                        <div class="ml-auto p-2 bd-highlight d-flex">
                                            <div class="">
                                                Progress:
                                                <br>
                                                <span class="h5">45%</span>
                                            </div>
                                            <div class="ml-auto">
                                                Current Grade:
                                                <br>
                                                <span class="h5">89%</span>
                                            </div>
                                        </div>
                                        <a href="#" class="mb-2 btn btn-dark w-100">View Syllabus</a>
                                        <a href="#" class="btn btn-primary w-100">Open Course</a>
                                    </div>
                                </div>
                            </div>
                            <!-- course loop end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>