<!doctype html>
<html lang="en">
  {% include 'base-templates/headtag.html' %}
    <body>
      <div class="container-fluid">
          <div class="row">
              {% include 'base-templates/dashboard-sidebar.html' %}
              <div class="col-lg-10 pl-0 pr-0" style="background: #EAEBEC;">
                {% include 'base-templates/top-navbar.html' %}
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-lg-12 p-0 bg-white">
                      <div class="h4 ml-3 mt-3">Filter By</div>
                      <form class="form-inline m-3 d-flex">
                        <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                          <option selected>Select Course...</option>
                          <option value="1">Intro to English</option>
                          <option value="2">Intro to Spanish</option>
                        </select>
                        <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                          <option selected>Select Assignment...</option>
                          <option value="1">English Essay</option>
                          <option value="2">Spanish Test</option>
                        </select>
                        <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                          <option selected>Select Class...</option>
                          <option value="1">Class 1</option>
                          <option value="2">Class 2</option>
                        </select>
                        <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                          <option selected>Select Student...</option>
                          <option value="1">John Smith</option>
                          <option value="2">Rambo</option>
                        </select>
                        <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                          <option selected>Select Status...</option>
                          <option value="1">Graded</option>
                          <option value="1">Graded - With Changes</option>
                          <option value="2">Not Yet Graded</option>
                          <option value="2">Not Turned In</option>
                          <option value="2">Late</option>
                        </select>
                        <button type="submit" class="btn btn-info m-3">Refresh</button>
                      </form>
                      <div>
                        <div class="p-3 border-bottom h5 m-0">Viewing All Courses</div>
                        <table class="table table-bordered table-striped table-hover table-sm table-responsive-lg mb-0">
                          <thead>
                            <tr>
                              <th scope="col">Student</th>
                              <th scope="col">Course</th>
                              <th scope="col">Assignment</th>
                              <th scope="col">Assignment Type</th>
                              <th scope="col">Class</th>
                              <th scope="col">Submission</th>
                              <th scope="col">Weight</th>
                              <th scope="col">Assignment Grade</th>
                              <th scope="col">Assignment Status</th>
                              <th scope="col">Course Grade</th>
                              <th scope="col">Notifications</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td><strong>John Smith</strong></td>
                              <td>Intro To English</td>
                              <td>English Essay</td>
                              <td>File Upload</td>
                              <td>Class 1</td>
                              <td>View</td>
                              <td>10%</td>
                              <td>95% <i class="far fa-edit"></i></td>
                              <td class="alert-success">Graded</td>
                              <td>95%</td>
                              <td>None</td>
                            </tr>
                            <tr>
                              <td><strong>Tony Stark</strong></td>
                              <td>Intro To English</td>
                              <td>English Essay</td>
                              <td>File Upload</td>
                              <td>Class 1</td>
                              <td>View</td>
                              <td>10%</td>
                              <td><input type="number" class="form-control" placeholder="Enter Grade"></td>
                              <td class="alert-secondary">Not Yet Graded</td>
                              <td>95%</td>
                              <td>1 New Message</td>
                            </tr>
                            <tr>
                              <td><strong>Matthew Kellison</strong></td>
                              <td>Intro To English</td>
                              <td>English Essay</td>
                              <td>File Upload</td>
                              <td>Class 1</td>
                              <td>View</td>
                              <td>10%</td>
                              <td><input type="number" class="form-control" placeholder="Enter Grade"></td>
                              <td class="alert-warning">Not Turned In</td>
                              <td>95%</td>
                              <td>None</td>
                            </tr>
                            <tr>
                              <td><strong>John Smith</strong></td>
                              <td>Intro To Spanish</td>
                              <td>Spanish Essay</td>
                              <td>File Upload</td>
                              <td>Class 5</td>
                              <td>View</td>
                              <td>10%</td>
                              <td>0% <i class="far fa-edit"></i></td>
                              <td class="alert-danger">Late</td>
                              <td>95%</td>
                              <td>None</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="row">
                    <div class="col-lg-3 p-0 bg-white">
                      <div class="p-3 border-bottom filternav d-flex">
                        <input type="text" class="form-control" placeholder="Search">
                        <div class="ml-auto">
                          <button class="btn ml-2"><i class="fas fa-filter"></i></button>
                        </div>
                      </div>
                      <div class="studentlist mb-5">
                        <div class="p-3 border-bottom h5">All Students</div>
                        <div class="p-3 border-bottom d-flex">
                          <div>John Smith</div>
                          <div class="ml-auto">A+</div>
                        </div>
                        <div class="p-3 border-bottom d-flex">
                          <div>John Smith</div>
                          <div class="ml-auto">A+</div>
                        </div>
                        <div class="p-3 border-bottom d-flex">
                          <div>John Smith</div>
                          <div class="ml-auto">A+</div>
                        </div>
                        <div class="p-3 border-bottom d-flex">
                          <div>John Smith</div>
                          <div class="ml-auto">A+</div>
                        </div>
                        <div class="p-3 border-bottom d-flex">
                          <div>John Smith</div>
                          <div class="ml-auto">A+</div>
                        </div>
                      </div>
                      <div class="studentlist-grouping mb-5">
                        <div class="p-3 border-bottom h5">Class 1</div>
                        <div class="p-3 border-bottom d-flex">
                          <div>John Smith</div>
                          <div class="ml-auto">A+</div>
                        </div>
                        <div class="p-3 border-bottom d-flex">
                          <div>John Smith</div>
                          <div class="ml-auto">A+</div>
                        </div>
                      </div>
                      <div class="studentlist-grouping mb-5">
                        <div class="p-3 border-bottom h5">Class 2</div>
                        <div class="p-3 border-bottom d-flex">
                          <div>John Smith</div>
                          <div class="ml-auto">A+</div>
                        </div>
                        <div class="p-3 border-bottom d-flex">
                          <div>John Smith</div>
                          <div class="ml-auto">A+</div>
                        </div>
                        <div class="p-3 border-bottom d-flex">
                          <div>John Smith</div>
                          <div class="ml-auto">A+</div>
                        </div>
                      </div>
                      <div class="studentlist-grouping mb-5">
                        <div class="p-3 border-bottom h5">English Assignment</div>
                        <div class="p-3 border-bottom d-flex">
                          <div>John Smith</div>
                          <div class="ml-auto">A+</div>
                        </div>
                        <div class="p-3 border-bottom d-flex">
                          <div>John Smith</div>
                          <div class="ml-auto">A+</div>
                        </div>
                        <div class="p-3 border-bottom d-flex">
                          <div>John Smith</div>
                          <div class="ml-auto">A+</div>
                        </div>
                      </div>
                      <div class="studentlist-grouping mb-5">
                        <div class="p-3 border-bottom h5">Math Assignment</div>
                        <div class="p-3 border-bottom d-flex">
                          <div>John Smith</div>
                          <div class="ml-auto">A+</div>
                        </div>
                        <div class="p-3 border-bottom d-flex">
                          <div>John Smith</div>
                          <div class="ml-auto">A+</div>
                        </div>
                        <div class="p-3 border-bottom d-flex">
                          <div>John Smith</div>
                          <div class="ml-auto">A+</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-8">Grading</div>
                  </div> -->
                </div>
              </div>
          </div>
      </div>
        <!-- Modal -->
        <div class="modal fade" id="bulkUpload" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Bulk Grade Upload</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                          <label for="exampleFormControlFile1">
                              Supported file types: .csv and .xlsx
                            </label>
                          <input type="file" class="form-control-file" id="exampleFormControlFile1">
                        </div>
                    </form>
                    <div>
                        If you need a template please click either of the following to download a template in either format
                        <div class="m-3">
                            <button class="btn btn-info">CSV Format</button>
                        </div>
                        <div class="m-3">
                            <button class="btn btn-info">XLSX Format</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Upload</button>
                </div>
            </div>
            </div>
        </div>
    </body>
</html>