<!doctype html>
<html lang="en">
    {% include 'base-templates/headtag.html' %}
    <body>
        <div class="container-fluid">
            <div class="row">
                {% include 'base-templates/dashboard-sidebar.html' %}
                <div class="col-lg-10 pl-0 pr-0" style="background: #EAEBEC;">
                    {% include 'base-templates/top-navbar.html' %}
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="mt-3">
                                    <ul class="list-group list-group-horizontal mb-3">
                                        <li class="list-group-item border-top-0 border-left-0 border-right-0 border-info" style="border-bottom-width: 5px;">Intro To English</li>
                                        <li class="list-group-item border-0">Intro To Spanish</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="jumbotron jumbotron-fluid mb-4" style="background: url('https://images.pexels.com/photos/265076/pexels-photo-265076.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=650&amp;w=940') no-repeat;background-size: 100%;background-position: center;">
                        <div class="container mb-5 mt-5" style="background: rgba(0,0,0,0.5)">
                            <div class="row">
                                <div class="col-md-12 p-4 text-white">
                                    <h1 class="display-4 text-center">Intro To English</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <h5>Teacher Invite Code</h5>
                                <div class="p-3 border bg-white">
                                    <div class="mb-3">
                                        <strong>Invite Code:</strong> <a href="" class="text-dark">12345 <i class="far fa-copy"></i></a>
                                    </div>
                                    <div>
                                        <button class="btn btn-info">Send Invites</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-lg-12">
                                <h5>My Students</h5>
                                <table class="table bg-white border rounded table-responsive-lg">
                                    <thead>
                                      <tr>
                                        <th scope="col">Photo</th>
                                        <th scope="col">Full Name</th>
                                        <th scope="col">Phone Number</th>
                                        <th scope="col">Email Address</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Request Status</th>
                                        <th scope="col" class="text-center">Action</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                          <td  class="align-middle">
                                              <img src="https://www.writeups.org/wp-content/uploads/John-Rambo-Sylvester-Stallone-a.jpg" width="40px" alt="" style="border-radius: 90px;">
                                          </td>
                                          <td  class="align-middle">John James Rambo</td>
                                          <td  class="align-middle">(123) 456-7890</td>
                                          <td  class="align-middle">rambo@rambo.com</td>
                                          <td  class="align-middle">Student</td>
                                          <td  class="align-middle"><span class="badge badge-pill badge-success">Active</span></td>
                                          <td  class="text-center align-middle">
                                              <i class="far fa-comments m-2"></i>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td  class="align-middle">
                                              <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/e8/e879127befd18f6dcbd2f336234b62b393348c74_full.jpg" width="40px" alt="" style="border-radius: 90px;">
                                          </td>
                                          <td  class="align-middle">John Wick</td>
                                          <td  class="align-middle">(321) 654-0987</td>
                                          <td  class="align-middle">johnwick@johnwick.com</td>
                                          <td  class="align-middle">Student</td>
                                          <td  class="align-middle"><button class="btn btn-info mr-1">Approve</button><button class="btn btn-danger">Reject</button></td>
                                          <td  class="text-center align-middle">
                                              <i class="far fa-comments m-2"></i>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td  class="align-middle">
                                              <img src="https://i.pinimg.com/474x/61/ab/df/61abdf4ea32577c24ea808c10f82613f.jpg" width="40px" alt="" style="border-radius: 90px;">
                                          </td>
                                          <td  class="align-middle">Tony Stark</td>
                                          <td  class="align-middle">(231) 564-8907</td>
                                          <td  class="align-middle">ironman@ironman.com</td>
                                          <td  class="align-middle">Student</td>
                                          <td  class="align-middle"><button class="btn btn-info mr-1">Approve</button><button class="btn btn-danger">Reject</button></td>
                                          <td  class="text-center align-middle">
                                              <i class="far fa-comments m-2"></i>
                                          </td>
                                      </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </body>
</html>