<!doctype html>
<html lang="en">
  {% include 'base-templates/headtag.html' %}
    <body>
        <div class="container-fluid">
            <div class="row">
              {% include 'base-templates/dashboard-sidebar.html' %}
                <div class="col-lg-10 pl-0 pr-0" style="background: #EAEBEC;">
                  {% include 'base-templates/top-navbar.html' %}
                    <div class="container-fluid">
                        <!-- <div class="row">
                            <div class="col-lg-9">
                                <div class="m-3 p-3 border rounded quick-links" style="background:white;">
                                    <div class="h5">Admin Actions</div>
                                    <div class="p-2 border-top"><i class="fas fa-cogs"></i> Upload Student Records</div>
                                    <div class="p-2 border-top"><i class="fas fa-cogs"></i> Create Class</div>
                                    <div class="p-2 border-top"><i class="fas fa-globe-americas"></i> Send Global Announcement</div>
                                    <div class="p-2 border-top"><i class="fas fa-chart-line"></i> Reports</div>
                                </div> 
                            </div>
                            <div class="col-lg-3">
                                <div class="m-3 p-3 border rounded quick-links" style="background:white;">
                                    <div class="h5">Quick Actions</div>
                                    <div class="p-2 border-top"><i class="fas fa-cogs"></i> Upload Student Records</div>
                                    <div class="p-2 border-top"><i class="fas fa-cogs"></i> Create Class</div>
                                    <div class="p-2 border-top"><i class="fas fa-globe-americas"></i> Send Global Announcement</div>
                                    <div class="p-2 border-top"><i class="fas fa-chart-line"></i> Reports</div>
                                </div>
                            </div>
                        </div> -->
                        <div class="row">
                            <div class="col-lg-12 p-3">
                                <ul class="list-group list-group-horizontal">
                                  <li class="list-group-item border-0">Admins</li>
                                  <li class="list-group-item border-0">Teachers</li>
                                  <li class="list-group-item border-0">Students</li>
                                  <li class="list-group-item border-top-0 border-left-0 border-right-0 border-info" style="border-bottom-width: 5px;">Courses</li>
                                  <li class="list-group-item border-0">Announcements</li>
                                  <li class="list-group-item border-0">
                                    <span data-toggle="modal" data-target="#customList" style="cursor: pointer;">
                                      <i class="fas fa-plus"></i> Custom List
                                    </span>
                                  </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <button type="button" class="btn btn-info mr-2" data-toggle="modal" data-target="#newRecord">
                                  Add New Class
                                </button>
                                <button type="button" class="btn btn-info mr-2" data-toggle="modal" data-target="#requestHelp">
                                  Request Help
                                </button>
                            </div>
                            <!-- <div class="col-lg-2">
                                <div class="input-group mb-3">
                                  <select class="custom-select" id="inputGroupSelect01">
                                    <option selected>Filter View...</option>
                                    <option value="1">Active</option>
                                    <option value="2">Transferred</option>
                                    <option value="3">Graduated</option>
                                    <option value="3">Expelled</option>
                                  </select>
                                </div>
                            </div> -->
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <table class="table bg-white mt-3 border rounded table-responsive-lg">
                                  <thead>
                                    <tr>
                                      <th scope="col">Class Name</th>
                                      <th scope="col">Class Photo</th>
                                      <th scope="col">Teacher</th>
                                      <th scope="col">Syllabus</th>
                                      <th scope="col">Number of Lessons</th>
                                      <th scope="col" class="text-center">Action</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                  {% block getClassInfo %}
                                    {% for row in listclasses %}
                                    <tr>
                                      <td  class="align-middle">{{ row.class_name }}</td>
                                      <td  class="align-middle"><img src="{{ MEDIA_URL }}{{ request.user.profile.Profile_Image }}" alt="{{ row.class_name }} Photo"></td>
                                      <td  class="align-middle">{{ row.user.profile.first_name }} {{ row.user.profile.last_name }}</td>
                                      {% if row.classlessons.lesson_count %}
                                      <td  class="align-middle"><a href="" class="btn btn-info">View Course</button></td>
                                      <td  class="align-middle">45</td>
                                      {% else %}
                                      <td  class="align-middle">N/A</td>
                                      <td  class="align-middle">N/A</td>
                                      {% endif %}
                                      <td  class="text-center align-middle">
                                          <i class="fas fa-edit m-2"></i>
                                          <i class="fas fa-trash m-2"></i>
                                      </td>
                                    </tr>
                                    {% endfor %}
                                  {% endblock %}
                                  </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Add New Class -->
                        <div class="modal fade" id="newRecord" tabindex="-1" role="dialog" aria-labelledby="New Record" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add New Record</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                {% block content %}
                                <form method="post" enctype="multipart/form-data">
                                  {% csrf_token %}
                                  {% for field in newclassform %}
                                  <div class="form-group">
                                    <label>{{ field.label }}</label>
                                    {{ field }}
                                    {% if field.help_text %}
                                      <small style="color: grey">{{ field.help_text }}</small>
                                    {% endif %}
                                    {% for error in field.errors %}
                                      <p style="color: red">{{ error }}</p>
                                    {% endfor %}
                                  </div>
                                  {% endfor %}
                                  <button type="submit" class="btn btn-primary">Create</button>
                                </form>
                                {% endblock %}
                                <!-- <form method="post" enctype="multipart/form-data">
                                  <div class="form-group">
                                    <label for="exampleFormControlInput1">Class Name</label>
                                    <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="English 101">
                                  </div>
                                  <div class="form-group">
                                    <label for="classimage">Class Image</label>
                                    <input type="file" class="form-control-file" id="classimage">
                                  </div>
                                </form> -->
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                              </div>
                            </div>
                          </div>
                        </div>

                        <!-- Request Help Form -->
                        <div class="modal fade" id="requestHelp" tabindex="-1" role="dialog" aria-labelledby="Request Help" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Submit Help Request</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <form>
                                  <div class="form-group">
                                    <label for="exampleFormControlSelect1">Request Type</label>
                                    <select class="form-control" id="exampleFormControlSelect1">
                                      <option>How to Create Class</option>
                                      <option>Other (provide information below)</option>
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Additional Information</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                  </div>
                                </form>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Submit</button>
                              </div>
                            </div>
                          </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </body>
    </html>