<div class="col-lg-2 sidenav">
    <div class="">
        <div class="p-3 navbar-brand text-white text-center">
            <i class="fas fa-atom"></i> CoreBasics LMS
        </div>
        <nav class="nav flex-column text-white">
            <!-- <span class="mt-2 mb-2 border-secondary border-bottom text-muted">
                Admin Actions
            </span>
            <a class="nav-link text-white" href="{% url 'useradmin' %}">
                <i class="fas fa-chart-area"></i> Admin Dashboard
            </a>
            <a class="nav-link text-white" href="{% url 'recordmanagement' %}">
                <i class="fas fa-cogs"></i> Record Management
            </a>
            <a class="nav-link text-white" href="{% url 'coursemanagement' %}">
                <i class="fas fa-cogs"></i> Create Class
            </a>
            <a class="nav-link text-white" href="{% url 'administrationannouncements' %}">
                <i class="fas fa-globe-americas"></i> Send Announcement
            </a>
            <a class="nav-link text-white" href="{% url 'administrationinvoices' %}">
                <i class="fas fa-file-invoice-dollar"></i> Manage Invoices
            </a> -->
            <span class="mt-2 mb-2 border-secondary border-bottom text-muted">
                Main Applications
            </span>
            <a class="nav-link text-white" href="{% url 'dashboard' %}">
                <i class="fas fa-chart-pie text-white"></i> Dashboard
            </a>
            <a class="nav-link text-white" href="{% url 'announcements' %}">
                <i class="far fa-envelope text-white"></i> Announcements
            </a>
            <a class="nav-link text-white" href="{% url 'coursemanagement' %}">
                <i class="fas fa-cogs"></i> Course Management
            </a>
            <a class="nav-link text-white" href="{% url 'calendar' %}">
                <i class="far fa-calendar-alt text-white"></i> Calendar
            </a>
            <a class="nav-link text-white" href="{% url 'courses' %}">
                <i class="fas fa-chalkboard-teacher text-white"></i> Courses
            </a>
            <a class="nav-link text-white" href="{% url 'students' %}">
                <i class="fas fa-user-graduate text-white"></i> Students
            </a>
            <a class="nav-link text-white" href="{% url 'attendance' %}">
                <i class="fas fa-user-check text-white"></i> Attendance
            </a>
            <a class="nav-link text-white" href="{% url 'assignments' %}">
                <i class="fas fa-clipboard-list text-white"></i> Assignments
            </a>
            <a class="nav-link text-white" href="{% url 'grades' %}">
                <i class="fas fa-spell-check text-white"></i> Grades
            </a>
            <span class="mt-2 mb-2 border-secondary border-bottom text-muted" href="#">
                Messaging Services
            </span>
            <a class="nav-link text-white" href="{% url 'messages' %}">
                <i class="far fa-envelope text-white"></i> Messages
            </a>
            <!-- <a class="nav-link text-white" href="{% url 'forum' %}">
                <i class="far fa-comments text-white"></i> Forum
            </a> -->
        </nav>
    </div>
</div>